section.contact-section
    margin-top: 150px
    h2.mobile-heading
        display: none
    .block-wrap
        display: flex
        justify-content: space-between
        align-items: center
        .text-wrap
            .text
                margin-top: 35px
            form
                margin-top: 50px
                display: flex
                gap: 5px
                flex-direction: column
                input:not(.checkbox__input), select
                    padding-left: 33px
                    width: 100%
                    height: 80px
                    font-family: 'Poppins', sans-serif
                    font-size: 16px
                    line-height: 24px
                    border: 1px solid #8F95A5
                    box-sizing: border-box
                    border-radius: 10px
                    background: #fff
                    transition: 0.2s
                    &:focus
                        box-shadow: 0 0 15px #8F95A5
                input._error, select._error
                    box-shadow: 0 0 15px red
                .checkbox
                    display: flex
                .checkbox._error .checkbox__label::before
                    box-shadow: 0 0 15px red
                button
                    width: 100%
                    height: 80px
                    border-radius: 10px
                    position: relative
                    z-index: 1
                    &:hover::before
                        width: 700px
                        height: 700px
                    &::after
                        z-index: 5
                        content: ''
                        position: absolute
                        top: 0
                        left: 50%
                        transform: translate(-50%, 0)
                        width: 100%
                        height: 100%
                        background: $dark-grey url('../img/loading.svg') center / 50px no-repeat
                        opacity: 0
                        visibility: hidden
                        transition: 0.2s
                button._sending::after
                    opacity: 1
                    visibility: visible
            form *
                outline: none

@media screen and ( max-width: 993px )
    section.contact-section
        margin-top: 100px
        .block-wrap
            .contact-img
                img
                    max-width: 80%
            .text-wrap
                .text
                    margin-top: 0
                form
                    margin-top: 20px
                    input, select
                        height: 60px
                    select
                        padding-left: 28px
                    input
                        height: 60px
                    button
                        height: 60px

@media screen and ( max-width: 768px )
    section.contact-section
        margin-top: 50px
        .block-wrap
            .text-wrap
                h2.pc-heading
                    line-height: 60px
                form
                    margin-top: 10px
                    input, select
                        height: 50px
                    select
                        padding-left: 8px
                        font-size: 14px
                    input
                        padding-left: 13px
                        font-size: 14px
                        height: 50px
                    button
                        font-size: 16px
                        height: 50px

@media screen and ( max-width: 576px )
    section.contact-section
        margin-top: 70px
        h2.mobile-heading
            display: block
            text-align: center
        .block-wrap
            flex-direction: column
            align-items: center
            .contact-img
                text-align: center
                margin-top: 50px
            .text-wrap
                h2.pc-heading
                    display: none
                .text
                    margin-top: 30px
                    text-align: center
                    font-size: 16px
                    line-height: 24px
                    br
                        display: none
                form
                    margin-top: 20px
                    select
                        padding-left: 8px

@media screen and ( max-width: 376px )
    section.contact-section
        margin-top: 80px
        h2.mobile-heading
            line-height: 30px
        .block-wrap
            .text-wrap
                .text
                    margin-top: 20px
                    font-size: 14px
                    line-height: 20px
